.MenuSelectModal {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menuModal {

}


.optionCheck {
    display: flex;
    flex-direction: row;
}

.optionCheck p {
    margin: 10px;
}

.modalFooter {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.backBtn {
    display: flex;
    flex-grow: 1;
    justify-content: center;

    border : none;
}

.backBtn p {
    margin : 0px;
    font-size: 24px;
}

.orderAddBtn {
    display: flex;
    flex-grow: 1;
    justify-content: center;

    background-color: #FEC800;
    border : none;
}

.orderAddBtn p {
    margin : 0px;
    font-size: 24px;
}

.orderAddBtn:hover {
    background-color: #efbf0b;
}