.menuBox {
    /*display: flex;
    flex-direction: row;
    justify-content: left;*/
    margin: 30px 5px;
    padding : 0;
    cursor: pointer;

    border: 1px solid #A6A6A6;
    border-radius: 25px;
}

.menuBox:hover {
    border: 3px solid #FEC800;
}

.menuBox p {
    font-weight: bold;
    font-size: 26px;
    margin: 0;
    padding: 10px 0;
    color : #A6A6A6;
}

.menuDisplays {
    color : black;
}

.menuImg {
    object-fit: contain;
    width: 90%;
}

.menuContext {
    background-color: #e9ecef;
    border-radius: 0 0 25px 25px;
}