
.payment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.payState  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    flex-grow: 1.5;
    font-size: 36px;
    font-weight: bold;
}

.payState span {
    margin: 20px;
}

.payBtn  {
    display: flex;
    flex-grow: 1;
}

.payBtn Button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    border : none;
}

.backBtnText {
    background-color: #A6A6A6;
    color : white;
    font-size: 48px;
    font-weight: bold;
    border-radius: 5px;
}

.backBtnText:hover {
    background-color: gray;
}

.payBtnText {
    background-color: #FEC800;
    color : white;
    font-size: 48px;
    font-weight: bold;
    border-radius: 5px;
}

.payBtnText:hover {
    background-color: #ffb300;

}
