.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.jumbo {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.img {
  background-size: contain;
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.adminButton {
  background-image: url(../img/Admin.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;


}


