.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.jumbo {
  margin: 20%;
  display: flex;
  flex-direction: column;
}
.topBtn {
  display: flex;
  flex-direction: row-reverse;
}

.adminImg {
  margin: 9% 11.6%;
  object-fit: contain;
  width: 40px;
  height: 40px;
}

.img {
  background-size: contain;
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.adminButton {
  background-image: url(../img/Admin.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;


}

.mainImg {
  background-image: url(../img/MainImg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  padding: 0px;
}

.orderBtn {
  background-color : deepskyblue;
  font-weight: bold;
  border: none;
  width: 60%;
  height: 140%;
}

.eazyOrderBtn {
  font-weight: bold;
  border: none;
  width: 60%;
  height: 140%;
}