.header {
    display: flex;
    flex-grow: 1;
}

.jumbo {
    margin: 0px;
    padding : 32px 32px 64px 32px;
    display: flex;
    flex-direction: column;
}

.body {

}

.adminDiv {
    display: flex;
    justify-content: flex-start;
    width : 10%;
    cursor: pointer;
}

.admin {
    width : 30%;
    height : 30%;
    background-repeat: no-repeat;
}

.qrcodeImg {
    width:100%;
    opacity: 0.75;
}

.guideImg {
    width : 100%;
}

.footer {

}

.btnDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.writeBtn {
    width : 50%;
    flex-grow: 1;
    margin : 20px;
    padding : 20px;
    font-size: 30px;
    font-weight: bold;

    background-color : deepskyblue;
    border: none;

}