.MenuSelectModal {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menuModal {

}

.Jumbo {
    padding : 20px;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;

}

.menuImageDiv {
    width : 200px;
    height : 200px;
}

.menuImage {
    object-fit: contain;
    width : 200px;
    height : 200px;
}

.menuInfoDiv {
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex-grow: 1;
}

.menuTitleDiv {
    margin-top: 30px;
    margin-bottom: 10px;
}

.titleDiv {
    background-color: #e9ecef;
    padding: 5px;
}

.titleDiv h4 {
    margin : 0px;
}

.menuCountDiv {
    display: flex;
    flex-direction: row;
    margin-top : 50px;
}

.menuPriceDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 2;
}

.menuPriceDiv h3 {
    margin : 0;
}

.totalPriceDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;

}

.totalPriceDiv h2 {
    color : #FEC800;
    font-weight : bold;
    margin : 20px 0px 0px 10px;
}

.totalPriceDiv h3 {
    margin : 0px;
}

.countUpBtn {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Spacing */
    padding : 12px 20px;

    background-color: #FEC800;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.plus {
    background: white;
    height: 20px;
    position: relative;
    width: 5px;
    size: 17px;

}

.plus:after {
    background: white;
    content: "";
    height: 4px;
    left: -7px;
    position: absolute;
    top: 8px;
    width: 20px;
}

.countDownBtn {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Spacing */
    padding : 12px 20px;

    background-color: #FEC800;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.minus {
    background: transparent;
    height: 20px;
    position: relative;
    width: 5px;
    size: 17px;

}

.minus:after {
    background: white;
    content: "";
    height: 4px;
    left: -7px;
    position: absolute;
    top: 8px;
    width: 20px;
}

.menuCountNum {
    border: 1px solid #A6A6A6;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin : 0px 5px 0px 5px;
}

.menuCountNum p {
    margin-top : 9px;
    margin-bottom: 0px;
}

.titleDiv {

}

.optionDiv {
    display: flex;
    flex-direction: column;
}

.iceOption {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #e9ecef;
}

.syrupOption {
    display: flex;
    flex-direction: row;
}

.packageOption {
    display: flex;
    flex-direction: row;
}

.optionSelect {
    display: flex;
    flex-direction: row;


    font-weight: bold;
    font-size: 18px;
}

.optionName {
    display: flex;
    justify-content: center;
    align-items: center;

    width : 100px;

    font-size: 24px;
    color : white;
    background-color: #FEC800;
}

.optionSelectBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 20px 30px;
    cursor: pointer;
}

.optionSelectBtn p {
    margin : 5px;
}

.selectBtnImg {
    width : 40px;
    height: 60px;
}

.modalFooter {
    display: flex;
    justify-content: space-evenly;
}