.order {
    width: 100%;
    height: 100%
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
}

.footer {
    display: flex;
    flex-direction: column;
    height: 20%;
}

.menuSelectDiv {
    margin: 0 6%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
