.QRModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.headerDiv h2 {

    font-weight: bold;
    text-align: center;
}

.qrBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.qrcode {
    width: 300px;
    height: 300px;
}