html, body {
    height : 100%;
}

.totalDiv {
    display: flex;
    flex-direction: row;
    height : 100%;
}

.rightDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    width: 100vh;
    height : 100vh;
}

.contents {
    color: white;
}

.topTables {
    display: flex;
    justify-content: center;
}

.status {
    border: 1px solid black;
    border-radius: 15px;
    background-color: #e4e4e4;
    margin: 30px;
    padding : 0;
}

.status > h2 {
    border-radius: 15px 15px 0 0;
    background-color: #A6A6A6;
    padding: 15px;
}

.recentRev {
    border: 1px solid black;
    border-radius: 15px;
    background-color: #e4e4e4;
    margin: 30px;
    padding : 0;
}

.recentRev > h2 {
    border-radius: 15px 15px 0 0;
    background-color: #A6A6A6;
    padding: 15px;
}

.btmTables {
    display: flex;
    justify-content: center;
}

.revenue {
    border: 1px solid black;
    margin: 45px;
    padding : 0;
}

.totalRevDiv {
    display: flex;
    flex-direction: row;

}

.totalRevDiv > div {
    width: 48%;
    height : 200px;
    margin: 10px 1% 10px;
    border-radius: 15px;
}

.totalRevDiv > div > h2 {
    border-radius: 15px 15px 0 0;
    padding: 10px;
    margin: 0 auto;
}

.leftBox {
    background-color: #6594ec;
}

.leftBox > h2 {
    background-color: #366ed6;
}

.getInline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(100% - 58px);
}

.revText {
    display: flex;
    align-items: baseline;
}

.centerBox {
    background-color: #38a3b6;
}

.centerBox > h2 {
    background-color: #097d91;
}

.payMethod {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-grow: 1;
    margin: 0 !important;
}

.payMethod > div {
    display: flex;
    flex-direction: column;
    background-color: #47cee6;
    flex-grow: 1;
    margin: 10px 2% 10px;
    border-radius: 15px;

}

.rightBox {
    background-color: #55a812;
}

.rightBox > h2 {
    background-color: #3d8205;
}

.rightBoxContents {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.rightBoxContents h3 {
    margin: 0 auto;
}

.peopleCount {
    display: flex;
    align-items: baseline;
}

.noticeHeader {
    display: block;
    width: 130px;
    text-align: left;
    margin-left: 20px;
    cursor: pointer;
}

.no {
    width : 15%
}

.title {
    width : 55%;
}

.name {
    width : 15%;
}

.date {
    width : 15%;
}