html, body {
    height : 100%;
}

.totalDiv {
    display: flex;
    flex-direction: row;


    height : 100%;
}

.rightDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    width: 100vh;
    height : 100vh;
}
.abc {
    display: flex;
    justify-content: space-around;
}
.status {
    border: 1px solid black;
    margin: 30px;
    padding : 0;
}

.revenue {
    border: 1px solid black;
    margin: 30px;
    padding : 0;
}

.notice {
    border: 1px solid black;
    margin: 45px;
    padding : 0;
}

.titleHeader {
    display: block;
    width: 130px;
    text-align: left;
    cursor: pointer;
}

.noticeHeader {
    display: block;
    width: 130px;
    text-align: left;
    margin-left: 20px;
    cursor: pointer;
}

.no {
    width : 15%
}

.title {
    width : 55%;
}

.name {
    width : 15%;
}

.date {
    width : 15%;
}