.counterDiv {
    display: flex;
    flex-direction: row;
    height : 100%;
}

.rightDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    width: 100vh;
    height : 100vh;
}

.bodyContents {
    border-radius: 0 0 15px 15px;
    width : 97%;
    margin : 20px;
}

.counterTable th {
    cursor: default;
}

.contentsHeader {
    background-color: #FEC800;
    color : white;
    font-size: 24px;
}

.menuDiv {
    border: 1px solid #fdb768;
    border-top : none;
}

.contentsDiv {
    display: flex;
    flex-direction: row;
}

.contentsBorder {
    border-bottom: 1px solid #dedede;
    margin-bottom: 1em;
}

.contentsDiv > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.groupCount {
    width: 5%;
    padding : 1%;
}

.groupCount div {
    flex-grow: 1;
}

.groupCountBody {
    width: 5%;
    padding : 1%;
    flex-grow: 1;
}

.menuDetail {
    flex-grow: 10;
}

.md1 {
    flex-grow: 4;
    width : 10%;
}

.md2 {
    flex-grow: 1;
    width : 10%;
}

.md2 p {
    margin: 0 0.2em 0 0.2em;
}

.orderDiv {

    padding: 1% 0 1% 0;
    margin-top: 1%;
    background-color: #fec800;
    color : white;
    /*display: flex;
    flex-direction: row;
    align-items: center;*/
}

.orderDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 5;
    align-items: center;
}

.orderCount {
    width: 5%;
    padding : 1%;
    flex-grow: 3;
}

.payDetail {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.payDivs {
    /*display: flex;*/
    flex-direction: row;
}

.payDivs p {
    margin: 0 0.2em 0 0.2em;
}

.totalDetail {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
}

.totalDetail p {
    margin: 0 1em 0 1em;
}

.confirmDiv {
    display: flex;
    flex-grow: 2;
    justify-content: center;
}

.visCount {
    font-size: 24px;

}

.submitBtn {
    border : none;
    background-color: floralwhite;
    color: black;
}

.submitBtn:hover {
    border : none!important;
    background-color: floralwhite!important;
    color: black;
}

.divs {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: "나눔스퀘어라운드 Regular";
}