.logoutDiv {
    width : 1500px;
}

.resetHeader {
    border-bottom: 2px solid rgba(255,0,10,0.51);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto !important;
    padding: 0 !important;
    width: 100%;
}

.resetHeader > div {
    margin: 10px;
    color : red;
    width: 100%;
}

.resetBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.warningText {
    text-align: center;
    visibility: visible;
    margin: 30px 0 30px 0;
    color: red;
}

.visibleText {
    visibility: visible;
    text-align: center;
}

.hiddenText {
    display: none;
}

.dbImg > img {
    animation: flickerAnimation 3s infinite;
    width: 30%;
    margin: 40px 0 10px 0;
}

.dbImg > div > p {
    font-size: 30px;
    color : red;
    font-weight: bold;
    animation: flickerAnimation2 1s infinite;
}

.logoutFooter {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    border : none;
    margin-bottom: 10px;
}

.logoutFooter Button {
    font-size: 20px;
    font-weight: bold;
    flex-grow: 1;
    width : 10%;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    10%  { opacity:0.9; }
    20%  { opacity:0.8; }
    30%  { opacity:0.7; }
    40%  { opacity:0.6; }
    50%  { opacity:0.5; }
    60%  { opacity:0.4; }
    70%  { opacity:0.3; }
    80%  { opacity:0.2; }
    90%  { opacity:0.1; }
    100% { opacity:0; }
}

@keyframes flickerAnimation2 {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}