.revenueDiv {
    display: flex;
    flex-direction: row;
    height : 100%;
}

.rightDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    width: 100vh;
    height : 100vh;
}

.revenueHeader {
    margin : 20px;
}

.tableDiv1 {
    width: 100%;
    border-radius: 0 0 15px 15px;
    background-color: #e9ecef;
}

.tableDiv2 {
    width: 100%;
    border-radius: 15px;
    background-color: #e9ecef;
}

.revenueTable {
    width : 97%;
    margin : 20px;
}

.revenueTable th {
    cursor: pointer;
}

.tableHeader {
    background-color: #FEC800;
    color : white;
    font-size: 24px;
}

.tableBody {
    font-size: 20px;
}