
.rightNav {
    height: 100%;
    margin: 40px 2.5% 1% 2.5%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.arrowDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.payDetail {
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0 0 10px 2px lightgray;
    background-color: white;
}

.payDetail > div > p {
    font-family: "나눔스퀘어라운드 Regular";
    font-size: 20px;
    margin: 0;
}

.detailMenuDiv {
    overflow: hidden;
    flex-direction: column;
}

.navHeaders {
    background-color: #8fff7780;

    font-family: "나눔스퀘어라운드 Regular";
    font-size: 20px;
    padding: 15px 0 1px 0;
}

.slide-container {
    width: 42vw;
    transition: all 1s;
}

.slide-box {
    width: 10vw;
    margin-left: 4vw;
    float: left;
}

.slide-box img {
    width: 100%;
}

.slide-container_op {
    width: 25vw;
    transition: all 1s;
    display: flex;
    flex-direction: row;
}

.slide-box-div_op {
    display: flex;
    flex-direction: column;
}

.slide-box_op {
    width: 10vw;
    margin-left: 4vw;
    float: left;
}

.slide-box_op img {
    width: 50%;
    margin: 10px 0px;
}

.detailOptionDiv {
    flex-direction: column;
    justify-content: center;
}

.optionColumn {
    margin: 2vmin 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailOptionImg {
    width: 5vmin;
    height: auto;
    margin: 1vmin 0;
}

.confirmDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 -1px 0 lightgrey;
    padding: 15px 0;
}

.confirmBtn {
    background-color: #8fff7780;
    color: black;
    border: none;

    font-size: 20px;
    font-family: "나눔스퀘어";
    font-weight: bold;
    outline: none;
}

.confirmBtn:hover, .confirmBtn:active, .confirmBtn:focus, confirmBtn:checked {
    border: none!important;
    background-color: #4ea73b80!important;
    color: black!important;
    outline: none!important;
    box-shadow: none!important;
}
